@model Podcaster.ViewModels.EpisodeListAllViewModel

@{
    ViewData["Title"] = "Podcast Episodes";
}

<div class="row">
    <div class="col-xs-12 text-center">
        <h2 class="top-buffer">@ViewData["Title"]</h2>    
    </div>
</div>

@foreach (var episode in Model.Episodes)
{
    <div class="row podcastWrapper">
        <div class="col-xs-12 podcast">                
                <span class="podcastName"><strong>@Html.DisplayFor(modelItem => episode.PodcastChannel.ChannelName):&nbsp;</strong>
                @Html.DisplayFor(modelItem => episode.EpisodeName)</span><a asp-controller="Home" asp-action="TagCreate" asp-route-id="@episode.PodcastEpisodeId"><i class="fa fa-tags" aria-hidden="true"></i></a>
        </div>

        <div class="col-xs-12 tagsWrapper"> 
        </div>

        <div class="col-xs-1 spacer"></div>

        <span class="ratingWrapperWraper">
            <span class="ratingWrapper">
                <a asp-controller="Home" asp-action="Rate" asp-route-id="5">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </a>

                <a asp-controller="HomeController" asp-action="Rate" asp-route-id="4">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </a>
                
                <a asp-controller="HomeController" asp-action="Rate" asp-route-id="3">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </a>

                <a asp-controller="HomeController" asp-action="Rate" asp-route-id="2">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </a>

                <a asp-controller="HomeController" asp-action="Rate" asp-route-id="1">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </a>
            </span>
        </span>
    </div>
}
