@model Podcaster.ViewModels.EpisodeListAll

@{
    ViewData["Title"] = "Podcast Episodes";
}

<div class="row">
    <div class="col-xs-12 text-center">
        <h2 class="top-buffer">@ViewData["Title"]</h2>    
    </div>
</div>

@foreach (var episode in Model.Episodes)
{
    <div class="row">
        <div class="col-xs-12">                
                <strong>@Html.DisplayFor(modelItem => episode.PodcastChannel.ChannelName):&nbsp;</strong>
                @Html.DisplayFor(modelItem => episode.EpisodeName)     
        </div>

        <div class="col-xs-1 spacer"></div>

        <span class="ratingWrapperWraper">
            <span class="ratingWrapper">
                <i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
            </span>
        </span>
    </div>
}
