@model Podcaster.ViewModels.EpisodeListAll

@{
    ViewData["Title"] = "Podcast Episodes";
}

<h2 class="top-buffer">@ViewData["Title"]</h2>

@foreach (var episode in Model.Episodes)
{
    <div class="row">
        <div class="col-md-7">
                @Html.DisplayFor(modelItem => episode.EpisodeName)
        </div>
    </div>
}
