.navbar-inverse {
    border-color: #9d9d9d;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #222;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

/* ********** */


.searchBar {
    padding: 10px 5px;
    max-width: 40%;
}

.searchSpan {
    width: auto;
}

.podcastWrapper {
    margin-bottom: 20px;
}

/*.podcastWrapper:nth-child(2n) {
    background-color: #111;
}*/

.podcastName {
    padding: 5px;
}

.podcastName:hover {
    border-radius: 7px;
    background-color: #333;
}

.podcast:hover {
    cursor: pointer;
}

.ratingWrapperWrapper {
    max-width: 100px;
}

.ratingWrapper {
  color: goldenrod;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.ratingWrapper > i:hover:before,
.ratingWrapper > i:hover ~ i:before {
   cursor: pointer;
   content: "\f005";
}